<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Welcome DMS</h1>




<!-- <hr/>

<h2>All Uploaded Files Path:</h2>
<ul>
    <li th:each="file : ${files}">
        <a th:href="${file}" target="_blank" th:text="${file}"></a>
    </li>
</ul>

<hr/>	
<h2>All Uploaded Files:</h2>
<ul>
    <li th:each="file : ${filelist}">
        <a th:href="${file}" target="_blank" th:text="${file}"></a>
    </li>
</ul>
<h2>Collect List:</h2>
<hr/>

<ul>
    <li th:each="file : ${collect}">
        <a th:href="${file}" target="_blank" th:text="${file}"></a>
    </li>
</ul>

<h2>FIlesnmae List:</h2>
<hr/>

<ul>
    <li th:each="file : ${filesNmae}">
        <a th:href="${file}" target="_blank" th:text="${file}"></a>
    </li>
</ul>
 -->
</body>
</html>